/*Main CSS*/

/*h1, h2, h3, h4, .h1, .h2, .h3, .h4{

}

h1, .h1 {

}

h2, .h2 {

}

h3, .h3 {

}

h4, .h4 {

}*/

.wrapper-50 {
	background:#00aeae;
}

.wrapper-25 {
	background:#33d0d2;
}

.wrapper-33 {
	background:#348cb5;
}

.wrapper-66 {
	background:#039ae1;
}

.wrapper-75 {
	background:#a1d3de;
}
