/*Main CSS*/
body {
	font-family:$primaryFont;
	line-height:1.4;
	font-size:16px;
}

/*Typograpghy Classes*/
h1, h2, h3, h4, .h1, .h2, .h3, .h4 {
	font-family:$secondaryFont;
} 

h1, .h1 {
	font-size:40px;
	padding:0 0 $setSpacing /2 0;
}

h2, .h2 {
	font-size:32px;
	padding:0 0 $setSpacing /2 0;
}

h3, .h3 {
	font-size:26px;
	padding:0 0 $setSpacing /2 0;
}

h4, .h4 {
	font-size:20px;
	padding:0 0 $setSpacing /2 0;
}

p, ul, ol {
	padding:0 0 $setSpacing /2 0;
	widows: 2;
}


/*Form Styles*/
/*
:required {
	background:red;
}

:required:hover {
	
}

::-webkit-input-placeholder {
   color: #ccc;
}

:-moz-placeholder { 
  color: #ccc;
}

::-moz-placeholder { 
   color: #ccc;
}

:-ms-input-placeholder {  
   color: #ccc;  
}

input[type=text], input[type=email], input[type=password] {
	
}

button, input[type="submit"], .button {
	
}

.form-field-wrapper {

}

*/

/*Elastic Videoes / Maps*/
.item-container {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
}

.item-container iframe,  
.item-container object,  
.item-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}


/*Wrapper Styles*/
.wrapper-100 {
	background:#b21414;
}

.wrapper-50 {
	background:#da630b;
}

.wrapper-25 {
	background:#0f9b33;
}

.wrapper-33 {
	background:#ffe400;
}

.wrapper-66 {
	background:#bb2171;
}

.wrapper-75 {
	background:#0f579b;
}

.no-background-colours .wrapper-100,
.no-background-colours .wrapper-50,
.no-background-colours .wrapper-25,
.no-background-colours .wrapper-33,
.no-background-colours .wrapper-66,
.no-background-colours .wrapper-75 {
	background-color:transparent;
}