/* Framwork CSS */
/* Please set your spacing below with the relevant percentage or pixels */
/* $setSpacing defined in variables */
$margin-horizontal: 2%; /*Has to be a percentage*/
$margin-vertical: $setSpacing; /*Should be in pixels*/
$margin-vertical-tablet: $setSpacing * 1.5; /*Should be in pixels*/
$margin-vertical-desktop: $setSpacing * 2; /*Should be in pixels*/

$padding-horizontal: $setSpacing * 2; /*Can be either pixels or %*/
$padding-vertical: $setSpacing * 2; /*Can be either pixels or %*/

/* Desktop viewport is set up as 980 to target 1024 x 768 resolutions */

/*Central wrapper*/
.container {
  max-width:$desktop;
  margin:0 auto;
  width:100%;
}

/*Structure*/
.wrapper-100, .wrapper-33, .wrapper-50, .wrapper-25, .wrapper-75, .wrapper-66 {
    width:100%;
    float:left;
    margin-bottom:$margin-vertical;
    @include viewport(660) {
    	margin-bottom: $margin-vertical-tablet;
    }
     @include viewport(980) {
    	margin-bottom: $margin-vertical-desktop;
    }
}

.wrapper-container {
	width:100%;
    float:left;
    clear:left;
}

@include viewport(600) {
	.with-equal-height {
	  @include flexBox();
	  @include flexWrap();

	 	> div {
	 		float:none; /*Required for IOS8*/
	 	}
	}

	.wrapper-50 {
		width:50%;
	}
	
	.wrapper-25 {
		width:50%;
		margin-left:0;
	}

	.wrapper-75 + .wrapper-25, .wrapper-25.with-75-right {
		width:100%;
	}

	.with-margin { 
		.wrapper-50 {
			margin-left: $margin-horizontal;
		    width:50% - ($margin-horizontal/2);

		    &:first-child {
		      margin-left:0;
		    }
		}

		.wrapper-25 {
			margin-left: 0%;
		    width:50% - ($margin-horizontal/2);


		    &:nth-child(2n) {
		      margin-left:$margin-horizontal;
		    }
		}

		.wrapper-75 + .wrapper-25, .wrapper-25.with-75-right  {
			margin-left:0;
			width:100%;
		}
	}
}

@include viewport(660) {
	.wrapper-66 {
		width:66.66%;
	}
	
	.wrapper-33 {
		width:33.33%;
	}


	.with-margin { 
		.wrapper-33 {
		   margin-left: $margin-horizontal;
		   width:((100% - (2 * $margin-horizontal)) / 3);

		    &:first-child {
		      margin-left:0;
		    }
		}

		.wrapper-66 + .wrapper-33 {
			margin-left:$margin-horizontal;
		}

		.wrapper-66 {
			width:(100% - ((100% - (2 * $margin-horizontal)) / 3)) - $margin-horizontal;
			margin-left:$margin-horizontal;

			&:first-child {
				margin-left:0;
			}
		}
	}
}


@include viewport(768) {
	.wrapper-25 {
		width:25%;
	}

	.wrapper-75 {
		width:75%;
	}

	.wrapper-75 + .wrapper-25, .wrapper-25.with-75-right {
		width:25%;
	}

	.with-margin { 
		.wrapper-25, .wrapper-75 + .wrapper-25, .wrapper-25.with-75-right  {
			margin-left: $margin-horizontal;
		    width:((100% - ($margin-horizontal* 3)) /4);

		    &:first-child {
		      margin-left:0;
		    }
		}

		.wrapper-75 {
			width:100% - ((100% - ($margin-horizontal* 3)) /4) - $margin-horizontal;
			margin-left:$margin-horizontal;

			&:first-child {
				margin-left:0;
			}
		}
	}
}


.padded-content {
	padding: $padding-vertical $padding-horizontal;
	float:left;
	width:100%;
	box-sizing:border-box;

	&.horizontal {
		padding-top:0;
		padding-bottom: 0;
	}

	@include viewport(600) {
		&.horizontal {
			padding-top:0;
			padding-bottom: 0;
		}
	}

	@include viewport(768) {
		&.horizontal {
			padding-top:0;
			padding-bottom: 0;
		}
	}
}

/*Needed to overwrite previous selectors*/
.with-75-right .padded-content.horizontal, .wrapper-75 + .wrapper-25 .padded-content.horizontal{
	padding-top:0;
	padding-bottom: 0;
}

/*Use this on a wrapper-container or wrapper-100 
to give it left and right padding on mobile */
.mobile-padding {
	padding: 0 $padding-horizontal;
	box-sizing:border-box;

	@include viewport(980) {
		padding: 0;
	}
}

/*Margins*/
.margin-bottom {
	margin-bottom:$setSpacing!important;
} 

.double-margin-bottom {
	margin-bottom:$setSpacing * 2 !important;
}

.no-margin-bottom {
	margin-bottom:0!important;
}

.margin-top {
	margin-top:$setSpacing!important;
} 

.double-margin-top {
	margin-top:$setSpacing * 2 !important;
} 

.no-margin-top {
	margin-top:0!important;
} 

.vert-align-center {
	@include flexBox();
	@include flexAlign(center);
	align-items: center;
}


/*
If you choose to show this stylesheet for ie9 uncomment these 
.ie9 .with-equal-height {
	overflow:hidden;
	margin-bottom:$setSpacing;
}

.ie9 .with-equal-height > div {
	padding-bottom:100%;
	margin-bottom:-100%;
}
*/

