/*Framwork CSS*/
@import 'variables';

/*Wrapper*/
.container {
  max-width:$desktop;
  margin:0 auto;
  width:100%;
}

/*Structure*/
.wrapper-100, .wrapper-33, .wrapper-50, .wrapper-25, .wrapper-75, .wrapper-66 {
    width:100%;
    float:left;
    margin-bottom:$setSpacing;
}

.wrapper-container {
	width:100%;
    float:left;
    clear:left;
}

.with-equal-height {
  display: -webkit-box;           /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;              /* OLD - Firefox 19- (doesn't work very well) */
  display: -ms-flexbox;           /* TWEENER - IE 10 */
  display: -webkit-flex;          /* NEW - Chrome */
  display: flex;                  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  -moz-box-flex: 1;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

 	> .wrapper-100, > .wrapper-33, > .wrapper-50, > .wrapper-25, > .wrapper-40, > .wrapper-60, > .wrapper-75, > .wrapper-66 {
 		float:none;
 	}
}

@include viewport(600) {
	.wrapper-50 {
		width:50%;

		.padded-content {
			padding:6%;
			width:88%;
		}
	}
	
	.wrapper-25 {
		width:50%;
		margin-left:0;

		.padded-content {
			padding:6%;
			width:88%;
		}
	}

	.wrapper-75 + .wrapper-25, .wrapper-25.with-75-right {
		width:100%;

		.padded-content {
			padding:3%;
			width:94%;
		}
	}

	.with-margin { 
		.wrapper-50 {
			margin-left: 1%;
		    width:49.5%;

		    &:first-child {
		      margin-left:0;
		    }
		}

		.wrapper-25 {
			margin-left: 0%;
		    width:49.5%;


		    &:nth-child(2n) {
		      margin-left:1%;
		    }
		}

		.wrapper-75 + .wrapper-25, .wrapper-25.with-75-right  {
			margin-left:0;
			width:100%;
		}

	}

}

@include viewport(660) {
	.wrapper-66 {
		width:66.66%;

		.padded-content {
			padding:5%;
			width:90%;
		}
	}
	
	.wrapper-33 {
		width:33.33%;

		.padded-content {
			padding:9%;
			width:82%;
		}
	}


	.with-margin { 
		.wrapper-33 {
			margin-left: 1%;
		    width:32.66%;

		    &:first-child {
		      margin-left:0;
		    }
		}

		.wrapper-66 + .wrapper-33 {
			margin-left:1%;
		}

		.wrapper-66 {
			width:66.33%;
			margin-left:1%;

			&:first-child {
				margin-left:0;
			}
		}
	}
}


@include viewport(768) {
	.wrapper-25 {
		width:25%;

		.padded-content {
			padding:8%;
			width:84%;
		}
	}

	.wrapper-50 {
		.padded-content {
			padding:4%;
			width:92%;
		}
	}

	.wrapper-33 {
		.padded-content {
			padding:6%;
			width:88%;
		}
	}

	.wrapper-66 {
		.padded-content {
			padding:3%;
			width:94%;
		}
	}

	.wrapper-75 {
		width:75%;

		.padded-content {
			padding:2.66%;
			width:94.33%;
		}
	}


	.wrapper-75 + .wrapper-25, .wrapper-25.with-75-right  {
		width:25%;

		.padded-content {
			padding:8%;
			width:84%;
		}
	}

	.with-margin { 
		.wrapper-25, .wrapper-75 + .wrapper-25, .wrapper-25.with-75-right  {
			margin-left: 1%;
		    width:24.25%;

		    &:first-child {
		      margin-left:0;
		    }
		}

		.wrapper-75 {
			width:74.75%;
			margin-left:1%;

			&:first-child {
				margin-left:0;
			}
		}
	}
}


.padded-content {
	padding:4%;
	float:left;
	width:92%; /*Not using borderbox for ie7 support*/

	&.horizontal {
		padding-top:0;
		padding-bottom: 0;
	}

	@include viewport(600) {
		padding:3%;
		width:94%; /*Not using borderbox for ie7 support*/

		&.horizontal {
			padding-top:0;
			padding-bottom: 0;
		}
	}

	@include viewport(768) {
		padding:2%;
		width:96%; /*Not using borderbox for ie7 support*/
		&.horizontal {
			padding-top:0;
			padding-bottom: 0;
		}
	}
}

/*Needed to overwrite previous selectors*/
.with-75-right .padded-content.horizontal, .wrapper-75 + .wrapper-25 .padded-content.horizontal{
	padding-top:0;
	padding-bottom: 0;
}

/*Spacings*/
.margin-bottom {
	margin-bottom:$setSpacing!important;
} 

.double-margin-bottom {
	margin-bottom:$setSpacing * 2 !important;
}

.no-margin-bottom {
	margin-bottom:0!important;
}

.margin-top {
	margin-top:$setSpacing!important;
} 

.double-margin-top {
	margin-top:$setSpacing * 2 !important;
} 

.no-margin-top {
	margin-top:0!important;
} 
.ie9 .with-equal-height {
	overflow:hidden;
	margin-bottom:$setSpacing;
}

.ie9 .with-equal-height > div {
	padding-bottom:100%;
	margin-bottom:-100%;
}