/*Main SASS Template*/
$mediaQueries:  false;

//Imports
@import 'reset';
@import 'variables';
@import 'framework';
@import 'css';


/*IE Specific Styles*/
.container {
	width:$desktop;
}

.with-equal-height {
	overflow-y:hidden;
	margin-bottom:$margin-vertical-desktop;
}

.with-equal-height > div,
.with-equal-height > div.margin-bottom {
	padding-bottom:100%;
	margin-bottom:-100%!important;
	float:left;
}

.ie-flex-fix {
	padding-bottom:0!important;
	margin-bottom:0!important;

	> div {
		padding-bottom:0!important;
		margin-bottom:0!important;
	}
} 

.form-field-wrapper.placeholder-label label {
	display:block;
}

.form-field-wrapper.placeholder-label input[type="text"] {
	width:70%;
}

