/* --------------------------------------------- RESET ------------------------------------------- */
audio, canvas, video {
    display: inline;
    zoom: 1;
	}

/* --------------------------------------------- FORMS ---------------------------------------------- */

legend {
    margin-left: -7px; 
	}

button, input, select, textarea {
    vertical-align: middle;
	}

button,
html input[type="button"], 
input[type="reset"],
input[type="submit"] {
    overflow: visible;
	}
		
label {
	vertical-align: middle; 
	}
	
input[type="image"],
input[type="checkbox"],
input[type="radio"] {
	margin-top: 0;
	}

input[type="checkbox"],
input[type="radio"] {
    height: 13px; 
    width: 13px; 
	}

input[type="button"],
input[type="reset"],
input[type="submit"] {
    overflow: visible;
	}

/* -------------------------------------------- Clearfix------------------------------------------ */
.clearfix {
	zoom: 1;
	}

/* -------------------------------------------- Styles ------------------------------------------ */