/*SASS Template
Danielle Vautier
*/

//Imports
@import 'reset';

//Mixins
@mixin viewport($width) {
  @media only screen and (min-width: $width + px) {@content;}
}


//CSS Mixins
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
       -o-border-radius: $radius;
          border-radius: $radius;
}

@mixin box-shadow($shadow) {
  -webkit-box-shadow: $shadow;
     -moz-box-shadow: $shadow;
      -ms-box-shadow: $shadow;
       -o-box-shadow: $shadow;
          box-shadow: $shadow;
}
/*
@font-face {
    font-family: '';
    src: url('../fonts/scriptina-webfont.eot');
    src: url('../fonts/scriptina-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/scriptina-webfont.woff') format('woff'),
         url('../fonts/scriptina-webfont.ttf') format('truetype'),
         url('../fonts/scriptina-webfont.svg#scriptinaregular') format('svg');
    font-weight: normal;
    font-style: normal;
    */