/*SASS Template
Danielle Vautier
*/
/* RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

/* -------------------------- Typography CONTENT -------------------------- */
hr {
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ffffff;
  padding: 0;
  margin: 0 0 16px 0; }

code, kbd, pre, samp {
  font-family: monospace, serif; }

/* -------------------------- EMBEDED CONTENT -------------------------- */
img {
  border: 0;
  vertical-align: middle;
  max-width: 100% !important;
  -ms-interpolation-mode: bicubic; }

svg:not(:root) {
  overflow: hidden; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

q {
  quotes: none; }

/* -------------------------------------------- TABLES --------------------------------------------- */
table {
  width: 100%;
  max-width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  background-color: transparent; }

/* --------------------------------------------- FORMS ---------------------------------------------- */
/*Class required for EPiServer webform wrap issues
.form { } */
fieldset {
  border: 0;
  padding: 0; }

legend {
  border: 0;
  padding: 0;
  white-space: normal; }

button, input, select, textarea {
  font-family: Arial, sans-serif;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline; }

button,
input {
  line-height: normal; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  -moz-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

label {
  vertical-align: baseline;
  font-weight: bold;
  color: #000000;
  margin: 0 0 5px 0;
  float: left;
  width: 100%; }

label .tip {
  font-weight: normal;
  color: #767676;
  font-size: 14px;
  width: 100%;
  float: left; }

.small-label {
  float: left;
  width: 91%;
  margin: 0 0 5px 0; }

.form-field-wrapper.checkboxes, .form-field-wrapper.radio-buttons {
  margin-bottom: 22px; }

.checkboxes input[type="checkbox"], .radio-buttons input[type="radio"] {
  float: left;
  width: 4%;
  margin-right: 3%; }

input, textarea, select {
  width: 97%;
  background-color: #ffffff;
  border: 1px solid #ccc;
  color: #000000;
  padding: 3px;
  -moz-box-shadow: inset 1px 1px 4px #ddd;
  -webkit-box-shadow: inset 1px 1px 4px #ddd;
  box-shadow: inset 1px 1px 4px #ddd;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px; }

.small-input {
  width: 100px; }

input[type="image"],
input[type="checkbox"],
input[type="radio"] {
  width: auto;
  height: auto;
  padding: 0;
  margin: 3px 0;
  line-height: normal;
  cursor: pointer;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0; }

input[type="checkbox"],
input[type="radio"] {
  padding: 0; }

input[type="image"] {
  border: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none; }

input[type="file"] {
  width: auto;
  background-color: transparent;
  background-color: #fff;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none; }

input[type="button"],
input[type="reset"],
input[type="submit"] {
  width: auto;
  height: auto;
  cursor: pointer; }

select {
  width: auto;
  background-color: #ffffff;
  font-size: 14px; }

select[multiple],
select[size] {
  height: auto; }

textarea {
  resize: vertical;
  overflow: auto;
  height: auto;
  vertical-align: top; }

.form-field-wrapper {
  float: left;
  width: 100%;
  margin: 0 0 16px 0; }

/* -------------------------------------------- Clearfix------------------------------------------ */
.clearfix:before, .clearfix:after {
  display: table;
  content: ""; }

.clearfix:after {
  clear: both; }

/* ---------------------------- BASE ----------------------- */
html {
  font-size: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-overflow-scrolling: touch; }

body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1; }

/* ------------------------ TYPOGRAPHY  --------------------- */
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, legend {
  margin: 0;
  font-family: arial, sans-serif;
  font-weight: normal;
  text-rendering: optimizelegibility;
  color: #333; }

h1, .h1 {
  margin-bottom: 8px;
  line-height: 1.2;
  font-size: 52px; }

h2, .h2 {
  margin-bottom: 16px;
  line-height: 1.1;
  font-size: 36px; }

h3, .h3, legend {
  margin-bottom: 16px;
  font-size: 26px;
  line-height: 1.15; }

h4, .h4 {
  margin-bottom: 10px;
  font-size: 19px;
  line-height: 1.4; }

p, ol, ul, dl, address, textarea {
  line-height: 1.4;
  margin: 0 0 16px 0; }

small {
  font-size: 14px; }

.author {
  color: #767676;
  font-weight: bold; }

legend ~ small {
  margin: -10px 0 16px 0;
  float: left; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

hr {
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ffffff;
  padding: 0;
  margin: 0 0 16px 0; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

blockquote {
  margin: 0 0 16px 0;
  font-family: Georgia, Times, "Times New Roman";
  font-style: normal;
  background: transparent url(../images/open-quote.png) no-repeat 0 0;
  padding: 0 0 0 30px;
  float: left;
  width: 92%; }

blockquote p {
  margin: 3px 0 0 0; }

sub, sup {
  font-size: 12px;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

.hide {
  display: none; }

/* ------------------------ LISTS  --------------------- */
dl, menu {
  margin: 0 0 16px 0;
  width: 100%;
  float: left; }

dt {
  font-weight: bold; }

dd {
  margin: 0 0 0 16px; }

nav ul, nav ol {
  list-style: none;
  list-style-image: none; }

ul, ol {
  margin: 0 0 16px 0;
  padding: 0 0 0 22px; }

li ul, li ol {
  margin: 0; }

/* ---------------------------- LINKS ----------------------- */
a, a:visited {
  color: #333;
  text-decoration: underline; }

a:active, a:hover {
  text-decoration: none; }

/* -------------------------- EMBEDED CONTENT -------------------------- */
img {
  border: 0;
  vertical-align: middle;
  max-width: 100% !important;
  -ms-interpolation-mode: bicubic; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0 0 12px 0; }

figure img {
  margin-bottom: 12px; }

figure figcaption {
  display: block;
  font-weight: normal;
  font-size: 14px;
  color: #767676; }

/* -------------------------------------------- TABLES --------------------------------------------- */
table {
  width: 100%;
  max-width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  background-color: transparent; }

table th, table td {
  padding: 7px;
  vertical-align: top;
  border: 1px solid #ccc; }

table th {
  background-color: #eee;
  text-align: left; }

/*
@font-face {
    font-family: '';
    src: url('../fonts/scriptina-webfont.eot');
    src: url('../fonts/scriptina-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/scriptina-webfont.woff') format('woff'),
         url('../fonts/scriptina-webfont.ttf') format('truetype'),
         url('../fonts/scriptina-webfont.svg#scriptinaregular') format('svg');
    font-weight: normal;
    font-style: normal;
    */
